<template>
    <div class="home ma-4 text-lg-center text-sm-left">
        <h1 class="primary--text">Charlotte's Web</h1>
        <p class="subtitle-2 primary--text">(The 1973 animated version, obviously)</p>
        <v-img 
            src="@/assets/cWeb2.jpg" 
            contain
            height="60vh"
        >
        </v-img>
        <!-- <v-btn small to="/plot" class="ma-4 primary">Learn more</v-btn> -->
        <Popup />
        <div class="text-center ma-5">
            <v-menu offset-y>
                <template v-slot:activator="{ on, attrs }">
                <v-btn
                    color="primary"
                    dark
                    v-bind="attrs"
                    v-on="on"
                >
                    Learn More
                </v-btn>
                </template>
                <v-list>
                <v-list-item
                    v-for="(section, i) in sections"
                    :key="i"
                    :to="section.route"
                >
                    <v-list-item-title>{{ section.text }}</v-list-item-title>
                </v-list-item>
                </v-list>
            </v-menu>
        </div>    
    </div>
</template>


<script>
import Popup from "@/components/Popup";

export default {
components: {
    Popup
},
data: () => ({
    section: null,
    items: [
      { title: 'Click Me' },
      { title: 'Click Me' },
      { title: 'Click Me' },
      { title: 'Click Me 2' },
    ],
            sections: [
                {
                    icon: "mdi-home",
                    text: "Home",
                    route: "/"
                },
                {
                    icon: "mdi-book-open-variant",
                    text: "Plot",
                    route: "/plot#plot"
                },
                {
                    icon: "mdi-account-voice",
                    text: "Voice Cast",
                    route: "/plot#cast"
                },
                {
                    icon: "mdi-movie-open",
                    text: "Production",
                    route: "/plot#production"
                },
                {
                    icon: "mdi-calendar-range",
                    text: "Release",
                    route: "/plot#release"
                },
                {
                    icon: "mdi-account-group",
                    text: "Reception",
                    route: "/plot#reception"
                },
                {
                    icon: "mdi-creation",
                    text: "Legacy",
                    route: "/plot#legacy"
                },
                {
                    icon: "mdi-numeric-2-box-multiple",
                    text: "Sequel",
                    route: "/plot#sequel"
                },
                {
                    icon: "mdi-music-circle",
                    text: "Soundtrack",
                    route: "/plot#soundtrack"
                },
                {
                    icon: "mdi-link",
                    text: "Other Links",
                    route: "/plot#otherLinks"
                }
            ]
  }),
};
</script>

