<template>
	<v-container style="margin-top: 56px">
		<div class="about">
			<PlotContent id="plot" />

			<!-- <Cast id="cast"/>         -->
			<!-- <GanttChart id="cast" /> -->

			<Production id="production" />

			<Release id="release" />

			<Reception id="reception" />

			<Legacy id="legacy" />

			<Sequel id="sequel" />

			<Soundtrack id="soundtrack" />

			<OtherLinks id="otherLinks" />
		</div>
	</v-container>
</template>

<script>
// import Cast from "@/components/Cast";
import PlotContent from "@/components/PlotContent";
import Production from "@/components/Production";
import Release from "@/components/Release";
import Reception from "@/components/Reception";
import Legacy from "@/components/Legacy";
import Sequel from "@/components/Sequel";
import Soundtrack from "@/components/Soundtrack";
import OtherLinks from "@/components/OtherLinks";
// import GanttChart from "@/components/GanttChart";

export default {
	name: "Plot",
	components: {
		PlotContent,
		// Cast,
		Production,
		Release,
		Reception,
		Legacy,
		Sequel,
		Soundtrack,
		OtherLinks,
		// GanttChart,
	},

	mounted: function() {
		// From testing, without a brief timeout, it won't work.
		//setTimeout(() => this.scrollFix(this.$route.hash), 1);
	},
};
</script>

<style lang="scss" scoped>
.h3 {
	margin-top: 15px;
}
</style>
