<template>
    <v-container>
      <div class="about">
        <h1 class="header">Testing Page</h1>
            <div class="col-12">
                    <FileUpload/>
                    <Chart2/>
                    <Chart/>
                <!-- <Carousel/> -->
            </div>
      </div>
    </v-container>
</template>


<script>
import Chart from "@/components/Chart";
import Chart2 from "@/components/Chart2";
import FileUpload from "@/components/FileUpload";
//import Carousel from '@/components/Carousel.vue';

export default {
    name: "Test",
    components: {
        Chart,
        Chart2,
        FileUpload,
        //Carousel,
        //agile: VueAgile ,
    },
};
</script>
