<template>
    <div>
        <v-row>
                <p>Chart Title</p>
                <v-spacer></v-spacer>
                <v-btn-toggle
                    v-model="toggle_exclusive"
                    mandatory
                    class="chartButton"
                    dense
                    borderless
                    background-color='000'
                    justify='right'

                >
                    <v-btn
                        text
                        @click="changeGrouping(['month', [1]])"
                    >Month
                    </v-btn>
                    <v-btn
                        text
                        @click="changeGrouping(['month', [3]])"
                    >Quarter
                    </v-btn>
                    <v-btn
                        text
                        @click="changeGrouping(['year', [1]])"

                    >Year
                    </v-btn>
                </v-btn-toggle>
        </v-row>
        <v-row>
            <v-col cols-12>
                <highcharts v-if="series" ref="chartSetup" :constructor-type="'stockChart'" :options="chartOptions()" />
            </v-col>
        </v-row>
    </div>
</template>

<script>
import {Chart} from 'highcharts-vue'
const d3 = require("d3");

export default {
    components: {
        highcharts: Chart,
    },

    data() {
        return {
            toggle_exclusive: 2,
            grouping: ['year', [1]],
            series: null,

        }
    },
    
    methods: {
        runTest() {
            console.log("this is a test")
        },
        changeGrouping(array) {
            this.grouping = array;
        },

        chartOptions () {
                return { 
                    chart: {
                    type: 'column',
                    zoomType: 'x',
                    panning: true,
                    panKey: 'shift',
                },

                title: {
                    enabled: false
                },

                credits: {
                    enabled: false,
                },
                xAxis: {
                    type: 'datetime'
                },

                yAxis: {
                
                },

                tooltip: {
                    enabled: true,
                    shared: true,
                },

                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: true
                        }
                    },
                    series: {
                        dataGrouping: { 
                            enabled: true,
                            approximation: 'sum', //'sum' or 'ohlc' or 'average' or 'range'
                            groupPixelWidth: 500, //controls view depending on size of window. Smaller window means higher grouping unit
                            forced: true,
                            units: [ 
                                this.grouping                                
                            ],
                        },
                    }
                },

                rangeSelector: {
                    enabled: false,
                    inputEnabled: false,
                    buttonPosition: {
                        align: 'right'
                    },
                },
                series: this.series,

            }
        },
        
        formatData (data) {
            let dataArrayA = {name: 'a', data: []}
            let dataArrayB = {name: 'b', data: []}
            let dataArrayC = {name: 'c', data: []}
            let dataArrayD = {name: 'd', data: []}
            
            for (const item of data) {
                dataArrayA.data.push([+item.date, +item.a])
                dataArrayB.data.push([+item.date, +item.b])
                dataArrayC.data.push([+item.date, +item.c])
                dataArrayD.data.push([+item.date, +item.d])
            }

            this.series = [dataArrayA, dataArrayB, dataArrayC, dataArrayD ]

        },

    },
    beforeMount() {
        d3.csv(`./tableData.csv`).then((data) => {
            this.formatData(data)
		});

    }
};
</script>

<style lang="scss" scoped>
    .chartButtons {
        position: relative;
    }

</style>