<template>
    <div>
        <h1 class="header mt-6">Plot</h1>
        <p>Early one morning, Fern Arable prevents her father John from slaughtering a piglet as the runt of the litter. Deciding to let Fern deal with nurturing the piglet, John allows Fern to raise it as a pet. She nurtures it lovingly, naming it Wilbur. Six weeks later, Wilbur, due to being a spring pig, has matured, and John tells Fern that Wilbur has to be sold (his siblings were already sold). Fern sadly says good-bye to Wilbur as he is sold down the street to her uncle, Homer Zuckerman. At Homer's farm, a goose coaxes a sullen Wilbur to speak his first words. Although delighted at this new ability, Wilbur still yearns for companionship. He attempts to get the goose to play with him, but she declines on the condition that she has to hatch her eggs. Wilbur also tries asking a rat named Templeton to play with him, but Templeton's only interests are spying, hiding, and eating. Wilbur then wants to play with a lamb, but the lamb's father says sheep do not play with pigs because it is only a matter of time before they are slaughtered and turned into smoked bacon and ham. Horrified at this depressing discovery, Wilbur reduces himself to tears until a mysterious voice tells him to "chin up", and wait until morning to reveal herself to him. The following morning, she reveals herself to be a spider named Charlotte A. Cavatica, living on a web on a corner of Homer's barn overlooking Wilbur's pig pen. She tells him that she will come up with a plan guaranteed to spare his life.</p>
        <p>Later, the goose's goslings hatch. One of them, named Jeffrey, befriends Wilbur. Eventually, Charlotte reveals her plan to "play a trick on Zuckerman", and consoles Wilbur to sleep. The next morning, Homer's farmhand, Lurvy, sees the words, SOME PIG, spun within Charlotte's web. The incident attracts publicity among Homer's neighbors who deem the praise to be a miracle. The publicity eventually dies down, and Charlotte requests the barn animals to devise a new word to spin within her web. After several suggestions, the goose suggests the phrase, TERRIFIC! TERRIFIC! TERRIFIC!, though Charlotte decides to shorten it to one TERRIFIC. The incident becomes another media sensation, though Homer still desires to slaughter Wilbur. For the next message, Charlotte then employs Templeton to pull a word from a magazine clipping at the dump for inspiration, in which he returns the word RADIANT ripped from a soap box to spin within her web. Following this, Homer decides to enter Wilbur in the county fair for the summer. Charlotte reluctantly decides to accompany him, though Templeton at first has no interest in doing so until the goose tells him about all the food there. After one night there, Charlotte sends Templeton to the trash pile on another errand to gather another word for her next message, in which he returns with the word, HUMBLE. The next morning, Wilbur awakens to find Charlotte has spun an egg sac containing her unborn offspring, and the following afternoon, the word, HUMBLE, is spun. However, Fern's brother, Avery, discovers another pig named Uncle has won first place, though the county fair staff decides to hold a celebration in honor of Homer's miraculous pig, and rewards him $25 and a gold medal. He then announces that he will allow Wilbur to "live to a ripe old age".</p>
        <p>Exhausted from laying eggs and writing words, Charlotte tells Wilbur she will remain at the fair to die. Not willing to let her children be abandoned, Wilbur has Templeton retrieve her egg sac to take back to the farm, just before she dies. Once he returns to Homer's farm, he guards the egg sac until the winter. The next spring, Charlotte's 514 children are hatched, but leave the farm, causing Wilbur to become saddened to the point of wanting to run away. Just as he is about to do so, the ram points out that three of them did not fly away. Pleased at finding new friends, he names them Joy, Nellie, and Aranea, but as much as he loves them, they will never replace the memory of Charlotte.</p>
        <v-divider></v-divider>
    </div>
</template>
    


<style lang="scss" scoped>


</style>