<template>
    <v-dialog max-width="600px" v-model="dialog">
        <template v-slot:activator="{ on }">
            <v-btn
                v-on="on"
                class="ma-5"
            >Make up a Cast Member
            </v-btn>
        </template>
        <v-card class="py-8">
            <v-card-title>
            <h2 class="text-center mb-5">Add a Cast Member</h2>
            </v-card-title>
            <v-card-text>
                <v-form ref="form">
                    <v-text-field 
                    label="Actor" 
                    v-model="actor" 
                    :rules="nameRules"
                    ></v-text-field>
                    <v-text-field 
                    label="Role" 
                    v-model="role"
                    :rules="roleRules"
                    ></v-text-field>
                    <v-textarea label="Notes" v-model="notes"></v-textarea>
                    <v-text-field label="Image" v-model="imagePath"></v-text-field>
                    <v-menu
                        ref="menu"
                        v-model="menu"
                        :close-on-content-click="true"
                        :return-value.sync="date"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                        >
                        <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                            v-model="date"
                            label="Make up a date"
                            prepend-icon="mdi-calendar"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                            :rules="dateRules"
                            ></v-text-field>
                        </template>
                        <v-date-picker
                            v-model="date"
                            no-title
                            scrollable
                        >
                            <v-spacer></v-spacer>
                            <v-btn
                            text
                            color="primary"
                            :loading="loading"
                            @click="menu = false"
                            >
                            Cancel
                            </v-btn>
                            <v-btn
                            text
                            color="primary"
                            @click="$refs.menu.save(date)"
                            >
                            OK
                            </v-btn>
                        </v-date-picker>
                    </v-menu>
                    <v-btn class="secondary" @click="addCast">Add Cast</v-btn>
                </v-form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
import db from '@/fb'
export default {
    components: {
        //Sidebar
    }, 

    data() {
        return {
            date: new Date().toISOString().substr(0, 10),
            menu: false,
            actor: ``,
            role: ``,
            notes: ``,
            imagePath: ``,
            loading: false,
            dialog: false,
            nameRules: [
                v => !!v || 'Name is required',
                v => v.length >= 3 || 'Minimum length is 3 characters'
            ],
            roleRules: [
                v => !!v || 'Role is required',
                v => v.length >= 3 || 'Minimum length is 3 characters'
            ],
            dateRules: [
                v => !!v || 'Date is required',
            ],

        }
        
    },

    methods: {
        addCast() {
            if(this.$refs.form.validate()) {
                this.loading = true;

                console.log("Added cast member", this.actor, this.role, this.date)
                const data = {
                    actor: this.actor,
                    role: this.role,
                    notes: this.notes,
                    imagePath: this.imagePath,
                }

                db.collection('data').add(data).then(() => {
                    this.loading = false;
                    this.dialog = false;
                    console.log('added this to db',data)
                    this.$emit('castAdded')
                    this.$refs.form.reset()
                })
            } else {
                alert('Did you forget something?')
            }
        }
    }
}


</script>