<template>
    <v-dialog max-width="600px">
        <template v-slot:activator="{ on }">
            <v-btn
                v-on="on"
                class="ma-5"
            >About
            </v-btn>
        </template>
        <v-card class="py-8">
            <h2 class="text-center mb-5">Charlotte's Web (1973, animated)</h2>
            <Sidebar />
        </v-card>
    </v-dialog>
</template>

<script>
import Sidebar from "./Sidebar"

export default {
    components: {
        Sidebar
    }
}
</script>