<template>
    <div>
        <h1 class="header mt-6">Production</h1>
        <p>In 1967, animators John and Faith Hubley were interested to purchase the film rights of Charlotte's Web in hopes of producing a feature-length animated adaptation. E.B. White, who had liked the Hubleys, sold the film rights, but the Hubleys were unable to acquire financial backing and the project languished. In September 1970, the Los Angeles Times reported that White had sold the film rights to Charlotte's Web to Edgar Bronfman Sr.'s Sagittarius Productions who intended to produce a feature-length animated adaptation of the book. Director-producer Michael Campus was hired to supervise the project. Later, in November, Henry White, president of Sagittarius Pictures, and Campus approached director Gene Deitch to direct Charlotte's Web. Deitch agreed and personally met with E.B. White to discuss how the book should be adapted. As part of the contract deal with E.B. White, he would have the final approval of the character design and the casting of the spider character, Charlotte. However, Campus left the project to direct Z.P.G. (1972), and Deitch later learned he was forbidden to show his storyboards to E.B. White.</p>
        <p>Development on the film still continued at Deitch's animation studio in Prague with Czech painter Mirko Hanák producing artwork of the film before dying of leukemia in November 1971. However, Bronfman Sr. began to grow dissatisfied with the European-influenced conceptual artwork. By May 1971, Deitch shipped his storyboards in a package to Sagittarius Productions in New York City, whom notified that his package went unopened and would be returned to him. On June 3, 1971, Deitch, in a mailed letter to E.B. White, stated that Sagittarius had refused to look his storyboards following six months of work on the project. That same month, it was reported that Sagittarius Productions had signed a two-picture production deal with Hanna-Barbera Productions in which both films would be distributed by Paramount Pictures; one of the films being Charlotte's Web. Around that same time, Joe Barbera had visited White at his residence in Maine, in which the author highlighted parts of the book he did not want to change, and parts that were "subject to discussion."</p>
      
        <h3 class="header">Casting</h3>
        <p>In January 1972, it was reported that Henry Gibson, Debbie Reynolds, and Tony Randall had signed on to provide the voices of Wilbur, Charlotte, and Templeton. Writing in his autobiography, Barbera wrote that Reynolds had called him and said that she was willing to join the project even without being paid. Although Randall had completed all of his voicework, co-director Iwao Takamoto wrote that "his readings just went flat, which surprised all of us. Tony's delivery was a bit too sophisticated and his singing was too operatic. He did not have enough of that raunchy feeling that the character required." Barbera felt Randall had to be replaced, and approached Paul Lynde, who was voicing characters in The Perils of Penelope Pitstop and other Hanna-Barbera TV shows at the time, to do a reading. Lynde was officially cast in the following spring, which was followed by Agnes Moorehead, Rex Allen, Pamelyn Ferdin, and Martha Scott who had joined the cast.</p>
        <v-divider></v-divider>
    </div>
</template>
    

<script>
export default {
  data() {
    return {
    
    }
        
  },
}

</script>


<style lang="scss" scoped>


</style>