<template>
    <div>
        <h1 class="header mt-6">Reception</h1>
        <p>Vincent Canby of The New York Times described the music and visuals as "exceedingly uninteresting," but noted that the screenplay "has followed the original so closely that it's still possible to be moved by the story." Variety called the film "heartwarming entertainment" with "imaginative and clever" animation. Gene Siskel of the Chicago Tribune gave the film three stars out of four, writing that although "the animation style is television-quickie (bland, static backgrounds), White's story is so blessed nice it is doubtful that anyone or anything could ruin it." Charles Champlin of the Los Angeles Times wrote, "No one, I think, could ask for a more respectful treatment of a classic ... The grownups will miss some of the artful appeal the book has, but can settle gladly enough for a cheerful and enthusiastic piece of children's fare." In a negative review for The Monthly Film Bulletin, Clyde Jeavons criticized the animation as "stiff, basic and two-dimensional" and the music as lacking "that instant catchiness which has always been a successful feature of Walt Disney's cartoon melodies. But the saddest thing of all is to see E. B. White's celebrated fantasy reduced to such plodding blandness in defiance of its rich potential."</p>
        <p>The review aggregator website Rotten Tomatoes reported that it has a 76% approval rating based on 21 reviews, with an average score of 6.6/10. The critical consensus reads; "That's some pig, with spirited vocal performances and a charmingly family-friendly adaptation of E.B. White's winsome story spun around him." Among retrospective reviews, Craig Butler of All-Movie Guide criticized the animation and the musical score, but called it a faithful adaptation, noting that "no attempt has been made to soften the existential sadness at the story's core". Dan Jardine criticized the songs and the "Saturday morning cartoon quality" of the animation, but also says that Hamner "retains just enough of White’s elegant prose in the dialogue and narration to keep the film from being simply a painfully well-intended experiment." Christopher Null of Filmcritic.com stated that the animation is sometimes "downright bad", but that White's classic fable needs little to make it come to life. TV Guide reviewed the film with generally positive remarks, stating that "The voices of Reynolds, Lynde, Gibson, and all the rest are perfectly cast, and the songs by the Sherman brothers are solid, although none of them became hits like those they wrote for such Disney movies as MARY POPPINS." When it was reissued on DVD it was awarded an Oppenheim Toy Portfolio Gold Award.</p>

        <h3 class="header">E.B. White's Reaction</h3>
        <p>Despite assisting in helping keep parts of the story, White was still very displeased with the adaptation. According to Gene Deitch, White wrote in a 1977 letter, "We have never ceased to regret that your version of 'Charlotte's Web' never got made. The Hanna-Barbera version has never pleased either of us ... a travesty ..." White himself wrote of the film, "The story is interrupted every few minutes so that somebody can sing a jolly song. I don't care much for jolly songs. The Blue Hill Fair, which I tried to report faithfully in the book, has become a Disney World, with 76 trombones. But that's what you get for getting embroiled in Hollywood." White had previously turned down Disney when they offered to make a film based on his book. According to the film's writer, Earl Hamner Jr., White's wife — who sometimes offered advice and suggestions to the filmmakers — would have preferred the music of Mozart in the film, rather than the music of the Sherman Brothers.</p>
        <v-divider></v-divider>
    </div>
</template>
    

<script>
export default {
  data() {
    return {
    
    }
        
  },
}

</script>


<style lang="scss" scoped>


</style>