<template>
    <div>
        <h1 class="header mt-6">Sequel</h1>
        <p>A direct-to-video sequel titled Charlotte's Web 2: Wilbur's Great Adventure was released in 2003, co-produced by Nickelodeon and co-distributed by Universal Studios Home Entertainment. The sequel centers on Wilbur's relationship with a lonely lamb named Cardigan and also shows Charlotte's children as adolescents. Reviews for the sequel were generally unfavorable, with critics panning its animation and plot</p>
        <v-divider></v-divider>
    </div>
</template>
    

<script>
export default {
  data() {
    return {
    
    }
        
  },
}

</script>


<style lang="scss" scoped>


</style>