<template>
    <div>
        <h1 class="header mt-6">Soundtrack</h1>
        <v-row justify="center" class="mb-4">
          <v-expansion-panels popout flat>
            <v-expansion-panel v-for="(track, i) in soundtrack" :key="i"
            >
              <v-expansion-panel-header class="font-weight-bold">
                {{ track.track }}. {{ track.title }}<v-spacer></v-spacer> Performed by: {{ track.performer }}
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-card>
                  <div style="white-space: pre-wrap; grey-text font-italic">{{ track.lyrics }}</div>
                </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-row>
        
        <h3 class="header">2018 CD Release</h3>
        <p>In March 2018 the Original Cast Soundtrack was released on CD by the Varèse Sarabande record label. This is the first time the soundtrack had enjoyed any re-release (digitally or otherwise) since its original pressing.</p>
        <v-divider></v-divider>
    </div>
</template>
    

<script>
export default {
  data() {
    return {
      soundtrack: [
        {
          track: 1,
          title: 'There Must Be Something More',
          performer: 'Pamelyn Ferdin',
          lyrics: `
            There must be something more to us than you and me
            It must tangled up somehow, it's destiny
            I used to think the sum of one and one was two
            But we add up to more, me and you
            
            When we are close together, it's so plain to see
            Together, we are better than we used to be
            I don't know how to say the things I'm thinking of
            But the something more I'm feeling must be love
            
            I used to think the sum of one and one was two
            But we add up to more, me and you
            
            I don't know how to say the things I'm thinking of
            But the something more I'm feeling must be love`,
        },
        {
          track: 2,
          title: 'I Can Talk',
          performer: 'Henry Gibson',
          lyrics: `
          I can talk.
          I can talk!
          I can actually, factually talk!
          
          Isn't it great that I articulate?
          Isn't it grand that you can understand?
          I don't grunt, I don't oink, I don't even squeak or squawk
          When I wanna say a something, I open up and talk
          I can talk, I can talk, talk, talk, I can talk
          
          I'm pop with perspicacity
          I'm loaded with loquacity
          My vocalized veracity is tops
          Grammatically each pit of me is the verbalized epitome
          My plethora of patter never stops
          
          Isn't it great that I articulate?
          Isn't it grand that you can understand?
          I don't grunt, I don't oink, I don't even squeak or squawk
          When I wanna say a something, I open up and talk
          I can talk, I can talk, talk, talk, I can talk
          
          It's wondrous and mystical
          I'm hardly egotistical
          Because of this linguistical aplomb
          
          But speaking quite pragmatically
          My self esteem emphatically
          Dramatically improved since I was dumb
          
          Isn't it great that I articulate?
          Isn't it grand that you can understand?
          I don't grunt, I don't oink, I don't even squeak or squawk
          When I wanna say a something, I open up and talk
          I can talk, I can talk, talk, talk, I can...`,
        },
        {
          track: 3,
          title: 'Chin Up',
          performer: 'Debbie Reynolds',
          lyrics: `
          Chin up, chin up
          Everybody loves a happy face
          Wear it, share it
          It'll brighten up the darkest place
          
          Twinkle, sparkle
          Let a little sunshine in
          You'll be on the right side
          Looking at the bright side
          Up with your chinny chin chin
          
          Wilbur: Ahem. Will the party who addressed me last night kindly come out of hiding?
          Sheep: (yawn) If you do have a friend, you're probably disturbing his rest!
          Wilbur: Oh.
          Chin up, chin up
          Put a little laughter in your eyes
          Brave it, save it
          Even though you're feeling otherwise
          
          Rise up, wise up
          Make a little smile begin
          You'll be happy hearted
          Once you get it started
          Up with your chinny chin chin
          
          Charlotte: Salutations!
          Wilbur: Huh? Salu-what?
          Charlotte: Salutations!
          Wilbur: What are they, and where are you?
          Charlotte: Salutations are greetings. It's my fancy way of saying hello. Look up here in the doorway.
          Chin up, chin up
          Everybody loves a happy face
          Wear it, share it
          It'll brighten up the darkest place
          
          Twinkle, sparkle
          Let a little sunshine in
          You'll be on the right side
          Looking at the bright side
          Up with your chinny chin chin
          
          Chin down, you can't come frowning
          Turn around, starting, clowning
          Think sad, your troubles double
          Think glad, they burst like bubbles
          
          Chin up, chin up
          Every little time your spirits wilt
          Chin up, chin up
          Give your attitude an upward tilt
          
          Twinkle, sparkle
          Make a little fun begin
          You'll be on the right side
          Looking at the bright side
          Up with your chinny chin
          Chin up`,
        },
        {
          track: 4,
          title: "We've Got Lots In Common",
          performer: 'Henry Gibson, Debbie Reynolds, Dave Madden, and Chorus',
          lyrics: `
            Oh we've got
            Lots in common where it really counts
            Where it really counts, we got large amounts
            What we look like doesn't count an ounce
            We've got lots in common where it really counts
            
            You've got feathers, I've got skin
            But both our outsides hold us in
            
            I've got hooves, you've got webbed feet
            But we both stand up to eat
            
            'Cause we've got
            Lots in common where it really counts
            Where it really counts, we got large amounts
            What we look like doesn't count an ounce
            We've got lots in common where it really counts
            
            You've got a beak and I've a snout
            But both of us can sniff about
            
            You say quack and I'll say neigh
            But we're talking either way
            
            'Cause we've got
            Lots in common where it really counts
            Where it really counts, we got large amounts
            What we look like doesn't count an ounce
            We've got lots in common where it really counts
            
            You're born to swim and me to spin
            But we both love this world we're in
            We share the sun, the Earth, the sky
            And that's the reason why
            
            We've all got
            Lots in common where it really counts
            Where it really counts, we got large amounts
            What we look like doesn't count an ounce
            We've got lots in common where it really counts`,
        },
        {
          track: 5,
          title: 'Deep In the Dark',
          performer: 'Debbie Reynolds',
          lyrics: `
            Now is the hour when frogs and thrushes
            Praise the world from the woods and rushes
            Sleep, my love
            Sleep, my only dear, in the dark
            
            Fragile and magical shadows
            Silently start to appear
            Lovely and lyrical, silvery miracle
            Charlotte's web
            
            Carefully spinning her tracings
            Lacy and gracefully sheer
            Over and under, then infinite wonder of
            Charlotte's web
            
            Why is she spinning and weaving away
            All night long
            Why is trying so hard to convey
            With her silent song
            
            Sometimes when somebody loves you
            Miracles somehow appear
            And there in the warp and the woof is the proof of it
            Charlotte's web`,
        },
        {
          track: 6,
          title: "Charolette's Web",
          performer: "Unnamed men's chorus",
          lyrics: `n/a`,
        },
        {
          track: 7,
          title: 'Mother Earth and Father Time',
          performer: 'Debbie Reynolds',
          lyrics: `
            The autumn days grow short and cold
            It's Christmas time again
            Then snows of winter slowly melt
            The days grow short and then
            
            He turns the seasons around
            And so she changes her gown
            Mother Earth and Father Time
            
            How very special are we
            For just a moment to be
            Part of life's... eternal... rhyme`,
        },
        {
          track: 8,
          title: 'A Veritable Smorgasboard',
          performer: 'Agnes Moorehead and Paul Lynde',
          lyrics: `
            Templeton: I'm staying right here! I haven't the slightest interest in fairs!
            Goose: That's because you've never been to one. You can creep out late at night and find a fantastic banquet.

            A fair is a veritable smorgasbord-orgasbord-orgasbord
            After the crowds have ceased
            Each night, when the lights go out, it can be found, on the ground, all around
            Oh, what a ratly feast
            
            Goose: Why, a fair has enough disgusting leftover food to satisfy a whole army of rats!
            Templeton: Is this true? Is this appetizing yarn of yours true? Will I find...
            
            Melon rinds and bits of hot dogs
            Cookie crumbs and rotten cotton candy
            Melted ice cream, mustard drippings
            Moldy goodies everywhere
            (Yes, yes)
            
            Lots of popcorn, apple cores
            Banana peels and soggy sandwiches
            And gobs of gorgeous gook to gobble at the fair
            (Yes, yes, yes)
            
            Templeton: I like high living. What you say tempts me.
            Goose: It's true. Go to the fair, Templeton. You will find that it will surpass your wildest dreams!
            Templeton: You mean tin cans with particle tuna fish sticking to 'em? Greasy paper bags stuffed with rotten eggs?
            Goose: Yep, yep, yep! True, true, true!
            Templeton: That's enough! Don't tell me anymore! I'm going!
            
            A fair is a veritable smorgasbord-orgasbord-orgasbord
            After the gates are shut
            Each night, when the lights go out, it can be found, on the ground, all around
            That's where a rat can glut, glut, glut, glut
            
            Templeton: The goose was right. This far is a rat's paradise. This will be a night to remember!

            A fair is a veritable smorgasbord-orgasbord-orgasbord
            After the crowds have ceased
            Each night, when the lights go out, it can be found, on the ground, all around
            Oh, what a ratly feast
            
            Melon rinds and bits of hot dogs
            Cookie crumbs and rotten cotton candy
            Melted ice cream, mustard drippings
            Moldy goodies everywhere
            
            Lots of popcorn, apple cores
            Banana peels and soggy sandwiches
            And gobs of gorgeous gook to gobble at the fair
            
            A fair is a veritable smorgasbord-orgasbord-orgasbord
            After the gates are shut
            Each night, when the lights go out, it can be found, on the ground, all around
            That's where a rat can glut, glut, glut, glut`,
        },
        {
          track: 9,
          title: "Zuckerman's Famous Pig",
          performer: 'Irwin Kostal',
          lyrics: `
            He's some pig
            Some pig
            Some terrific, radiant, humble pig
            (He is some pig)
            
            Oh, wow! Look at him now!
            Zuckerman's famous pig
            Sooey! What do you see?
            The greatest hog in history
            
            Fine swine, wish he was mine
            What if he's not so big?
            He's some terrific, radiant, humble
            Thingamajig of a fine phenomenon
            
            My land, isn't it grand?
            Zuckerman's famous pig
            Golly, you gotta agree
            He's a real celebrity
            
            Fine swine, wish he was mine
            What if he's not so big?
            He's some terrific, radiant, humble
            Thingamajig of a pig
            
            The terrific, radiant
            Humble
            (Humble)
            
            Zuckerman, Zuckerman
            Zuckerman, Zuckerman
            Zuckerman's
            Zuckerman's famous pig
            
            Homer Zuckerman: He's some pig! And if I have anything to do with it, he's gonna live to a ripe old age!
            Oh, wow! Look at him now!
            Zuckerman's famous pig
            Sooey! What do you see?
            The greatest hog in history
            
            Fine swine, wish he was mine
            What if he's not so big?
            He's some terrific, radiant, humble
            Thingamajig of a pig
            
            The terrific, radiant, humble
            Zuckerman, Zuckerman, Zuckerman, Zuckerman
            Zuckerman's
            Zuckerman's famous pig
            
            Zuckerman's pig!`,
        },
      ],

    }
        
  },
}

</script>


<style lang="scss" scoped>


</style>